
<html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        

                   <!-- nav -->
     
                 <!-- header -->
              <div class="container-fluid ">
               
             <div class="row jumptr">
               <!-- start -->
              
                <div class="col-12">
                  <div class="overlayNav ">
                    <nav class="navbar navbar-expand-lg navbar-light app-alerts">
                      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                        <a class="navbar-brand" href="#"> <img class="site-logo lazyloaded" src="../../assets/img/Sydney_logo-1.webp" alt="Sydney"></a>
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 navItem">
                          <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link disabled" href="#">Disabled</a>
                          </li>
                        </ul>
                    
                      </div>
                    </nav>
                    <hr>
                  </div>
                 
                </div>
             
              <!-- end nav -->
                 <img class="headIMG" src="../../assets/img/bCjE12.jpg" alt="">
                 <div class="overlayHead">
                  <div class="textHeD">
                    <h1>Welcome to Sydney</h1>
               <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
               <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                  </div>
                </div>

                    </div>
              </div>

          <!-- service -->
        
<div class="container-fluid  service">
  <div class="row">
    <div class="col-12">
      <h1 class="ourService">our service</h1>
    <p class="ourServicePara">Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
    </div>
  </div>
  <div class="row ">
  
    <div class="col-12">
<div class="contain-service">
  <div class=" ser service1">
    <div class="containIcon">
      <i class="fas fa-images"></i>
    </div>
    <div class="contPARA">
      <h2>UI-UX Design</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae officiis sapiente tenetur dolores enim, neque suscipit provident fugit libero quis, laborum tempore facere voluptates! Animi consequatur cupiditate pariatur at doloremque!
    </p>
    </div>
    
  </div>
  <div class=" ser service2">
    <div class="containIcon">
      <i class="fas fa-cog"></i>
    </div>
    <div class="contPARA">
      <h2>UI-UX Design</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae officiis sapiente tenetur dolores enim, neque suscipit provident fugit libero quis, laborum tempore facere voluptates! Animi consequatur cupiditate pariatur at doloremque!
    </p>
    </div>
    
 </div>
 <div class="ser service3">
  <div class="containIcon">
    <i class="fas fa-volume-up"></i>
  </div>
  <div class="contPARA">
    <h2>UI-UX Design</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae officiis sapiente tenetur dolores enim, neque suscipit provident fugit libero quis, laborum tempore facere voluptates! Animi consequatur cupiditate pariatur at doloremque!
  </p>
  </div>
 </div>
</div>

    </div>
    <p class="paraService">view all services</p>
   
  </div>
</div>
<!-- WHO WE ARE -->



<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="contWhoweare">
        <div class="texWhoWeAre ">
          <h6>About us</h6>
          <h1>WHO WE ARE</h1>
         <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata sanctus est Lorem ipsum dolor sit amet ipsumlor eut consetetur sadipscing elitr.</p>
        </div>
        <div class="texWhoWeAre ">
          <img  class="imgWhoweare"   src="../../assets/img/3.jpg" alt="">

        </div>
      </div>
    </div>
  </div>
</div>
       <!-- rate -->
       <!-- <div class="container-fluid">
         <div class="row rate">
           <div class="col-12">
             <div class="contantRate">





             </div>

           </div>
           
         </div>
       </div> -->
  <!-- update rate -->
 <div class="container-fluid">
   <div class="row raterow">
   
  <div class="col-12">
    <div class="rate">
      <div class="con1 ">
        <i class="fas fa-tasks"></i>
        <span class="textRate">90</span>
      
       
          <h5 class="headRPara">PROJECTS COMPLETED</h5>
      </div>
    
     
      <div class="con1 ">
        <i class="fas fa-heart"></i>
        <span class="textRate">120</span>
        <h5 class="headRPara">HAPPY CLIENTS</h5>
      </div>
    
    
      <div class="con1">
        <i class="fas fa-trophy"></i>
        <span class="textRate">15</span>
        <h5 class="headRPara">WEB AWARDS</h5>
      </div>
    
     
      <div class="con1">
        <i class="fas fa-music"></i>
        <span class="textRate">70</span>
        <h5 class="headRPara">COFFEE MUSIC</h5>
      </div>
    </div>
  </div>
   
   </div>
 </div>

       <!-- our work -->
       <div class="container-fluid">
         <div class="row">
           <div class="col-12 col-sm-12">
             <div class="headWork">
               <h2>OUR WORK</h2>
               <p>Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
              <ul class="workNav">
                <li class="workItem">Show all</li>
                <li class="workItem">Art</li>
                <li class="workItem">branding</li>
                <li class="workItem">science</li>

              </ul>
              <div style="clear: both;"></div>
             </div>
        

           </div>
         </div>
         <div class="row">
           <div class="col-12">
<div class="row2Work">
  <img class="imgWork " src="../../assets/img/3.jpg" alt="">
<img class="imgWork " src="../../assets/img/3.jpg" alt="">
<img class="imgWork " src="../../assets/img/3.jpg" alt="">
</div>
           </div>
         </div>
         <div class="row">
          <div class="col-12">
           <div class="row3Work">
            <img class="imgWork" src="../../assets/img/3.jpg" alt="">
            <img class="imgWork" src="../../assets/img/3.jpg" alt="">
            <img class="imgWork" src="../../assets/img/3.jpg" alt="">
           </div>
          </div>
        </div>
       </div>
       <!-- imgSection -->
       <div class="container-fluid imgSE">
         <div class="row rowImg">
          <img class="imgSection" src="../../assets/img/175109.jpg" alt="">
         <div class="overlay">
           <div class="text">
        <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, dicta incidunt cumque quo corrupti, cum soluta blanditiis ratione ipsum impedit pariatur aliquam quis possimus consequatur placeat saepe vero nisi doloremque?</p>

           </div>
         </div>
         </div>
      
       
       </div>
       <!-- LATEST NEWS -->

       <div class="container-fluid">
         <div class="row">
           <div class="col-12">
            <div class="conLtestNew">
              <div class="headerLatestNews">
               <h1>LATEST NEWS</h1>
               <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. </p>
              </div>
             
             
            </div>
           </div>
         </div>
       </div> 
       <!-- card -->
   <div class="container-fluid">
     <div class="row">
       <div class="col-12">
         
        <div class="containerCard">
          <div class="card">
            <img class="cardImg" src="https://demo.athemes.com/sydney/wp-content/uploads/sites/103/2019/10/post_3.png" alt="">
            <h4 class="headCard">How it all began</h4>
            <p class="paraCard">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam ex quibusdam vel, similique quas sunt, ipsum odit laboriosam, dolor magnam quam libero excepturi animi enim nobis aspernatur hic itaque eos!</p>

          </div>
          <div class="card">
            <img class="cardImg" src="https://demo.athemes.com/sydney/wp-content/uploads/sites/103/2019/10/post_1.png" alt="">
            <h4 class="headCard">How it all began</h4>
            <p class="paraCard">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam ex quibusdam vel, similique quas sunt, ipsum odit laboriosam, dolor magnam quam libero excepturi animi enim nobis aspernatur hic itaque eos!</p>
          </div>
          <div class="card displayBolockRespo">
            <img class="cardImg" src="https://demo.athemes.com/sydney/wp-content/uploads/sites/103/2019/10/post_2.png" alt="">
            <h4 class="headCard">How it all began</h4>
            <p class="paraCard">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam ex quibusdam vel, similique quas sunt, ipsum odit laboriosam, dolor magnam quam libero excepturi animi enim nobis aspernatur hic itaque eos!</p>

          </div>
          <p class="viewAll">view all</p>
        </div>
       </div>
     </div>
   </div>
       <!-- footer -->
       <div class="container-fluid">
         <div class="row ">
           <div class="col-12 footer">
 <div class="cont ">
  <div class="sec">
    <img class="site-logo lazyloaded headrfooter" src="https://demo.athemes.com/sydney/wp-content/uploads/sites/103/2019/12/Sydney_logo-1.png" data-src="https://demo.athemes.com/sydney/wp-content/uploads/sites/103/2019/12/Sydney_logo-1.png" alt="Sydney">
    <p>Sydney is a powerful business theme that provides a fast way for companies or freelancers to create an awesome online presence. Also, Sydney provides all the construction blocks you need to rapidly create an engaging front page.</p>
  </div>
  <div class="sec">
<div class="sec2">
  <h5 class="headrfooter">About Us</h5>
  <p class="links">About Us</p> 
<p class="links">Our Work</p>
<p class="links">Career</p>
<p class="links">Career</p>
</div>
  </div>
  <div class="sec">
    <div class="sec2">
      <h5 class="headrfooter">Services</h5>
      <p class="links">About Us</p> 
    <p class="links">Our Work</p>
    <p class="links">Career</p>
    <p class="links">Career</p>
    </div>
  </div>
  <div class="sec">
    <div class="sec2">
      <h5 class="headrfooter">Contact</h5>
      <p class="links">About Us</p> 
    <p class="links">Our Work</p>
    <p class="links">Career</p>
    <p class="links">Career</p>
    </div>
  </div>
 </div>
           </div>
         </div>
       </div>
    
    <div class="container-fluid">
      <div class="row footerCopy">
        <div class="col-12">
          <div class="copy">
            <p>amiramahana96@gmail.com</p>
          </div>
        </div>
      </div>
    </div>
    </body>
</html>
